@import "tailwindcss";

:root {
  --background-main: #ffffff;
  --foreground: #323232;
  --primary: #0070f3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-main: #ffffff;
    --foreground: #323232;
    --primary: #0070f3;
  }
}

@theme inline {
  --color-background-main: var(--background-main);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
}



body {
  background: var(--background-main);
  color: var(--foreground);
  font-family: system-ui;
}
